*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ariaanWebDeveloper{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    background-color: rgb(6, 231, 6);
    text-align: left;
    width: 40%;
    padding: 1% 2%;
    float: left;
}

.menu{
    float: left;
}

.menu ul li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}