*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.text-primary{
    color: #FD6E0A;
}

section{
    margin-top: 120px;
}

/* header bakcground color design */
.header{
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* nav-title */
.nav-title{
    font-size: 45px;
    font-weight: 800;
    color: #181818;
    font-family: 'Manrope', sans-serif;

}

nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    padding: 50px 0;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style-type: none;
    margin-left: 50px;
}

nav ul li a{
    text-decoration: none;
    text-transform: capitalize;
}

.btn-primary{
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px ;
}

/* banner styles */

.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
    color: #474747;
    margin-bottom: 30px;
}

.banner-title{
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-bottom: 20px;
}

.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 20px;
}

/* main section of the site */

main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title{
    text-align: center;
    margin-bottom: 30px;
}

.section-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

table{
    text-align: center;
    margin: 0 auto;
}
tr,td{
    padding: 0 5px;
}
.FirstRow{
    font-size: 15px;
    color: #757575;
}

.SecondRow{
    color: #474747;
    font-size: 20px;
    font-weight: bolder;
}


.section-title{
    text-align: center;
    font-size: 30px;
    color: #181818;
}

.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    background-color: #fff;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description{
    color: #757575;
}

/* resume section */

.section-title{
    font-size: 30px;
    color:#181818;
}

.resume-container{
    display: flex;
}